:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --font-main: "pratta", sans-serif;
  --font-accent: "Playfair Display", serif;

  --page-bg: 41, 39, 39;
  --text-color: 235, 235, 235;
  --accent: #ac182c;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: rgb(235, 235, 235);
}
